<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <meta charset="UTF-8">
    <title>KraevCustom</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="nav">
                <img src="{% static 'img/logo.svg'%}" alt="Burning Man" class="logo">
                <ul class="menu">
                    <li>
                        <a href="index.html">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a class ="klav" href="tikets.html">
                            Astro Purple
                        </a>
                    </li>
                    <li>
                        <a class ="klav" href="pinkipig.html">
                            Everething green & Your choise
                        </a>
                    </li>
                    <li>
                        <a href="switch.html">
                            Свитчи
                        </a>
                    </li>
                    <li>
                        <a href="https://www.avito.ru/user/198529101d704205a6664e6a61045ba0/profile?src=sharing">
                            
                        </a>
                    </li>
                </ul>
                <a href="contakts.html" class="tel">
                    Как заказать
                </a>
            </div>
            <div class="offer">
                <p>Кастомные механические клавиатуры</p>
                <h1>
                    Kraev Custom
                </h1>
                <a href="tikets.html" class="btn">Выбрать</a>
            </div>
        </div>
    </header>
    <section id="about" class="about">
        <div class="container">
            <h2>О процессе</h2>
            <div class="description">
                <div class="desc-left">
                    <h3>Сборка клавиатур</h3>
                    <p>
                        Каждая из представленных клавиатур была собрана в ручную, модернезированна и смазана под многочасовое прослушивание Lo-Fi радио в купе с кропотливым и очень трудоёмким процессом. Благодоря чему и обеспечивается уникальность каждой клавиатуры. Но важен даже не столько сам нелёгкий процесс создания клавиатур, а сколько результат этого самого процесса! Внешний вид клавиатуры, её звучание, всё это помогает находить частичку неподдельной радости внутри каждого из нас и именно это ищем как мы (создатели) так и наши покупатели
                    </p>
                </div>
                <div class="desc-right">
                    <h3>Контроль качества</h3>
                    <p>
                        Наша небольшая команда состаящая из двух человек, получает кучу удовольствия при создании каждого кастома, ведь абсолюнто каждую клавиатуру мы делаем словно для себя. Выбираем лучшие компоненты, ищем самое релевантное предложение, томно ожидаем заказ и самое интересное - собираем борд. В каждом из этих состовляющих итогового продукта существует много ньюансов которые необходимо знать. Всё это безусловная отвественность, мы это осознаём и именно по этому можем быть более чем уверенными в качестве нашего продукта
                        
                    </p>
                </div>
            </div>
            <div class="gallery">
                <img src="{% static 'img/Photosop_photo_left.jpg'%}" alt="">
                <img src="{% static 'img/2key.PNG'%}" alt="Center Photo">
                <img src="{% static 'img/Photosop_Main_photo.jpg'%}" alt="">
            </div>
        </div>
    </section>
    <footer id="footer" class="footer">
        <div class="container">
            <div class="footer-text">
                <p>
                    ©Kraev Custom
                </p>
                <p>
                    Александр Краев
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
